<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div style="width:100%;background:#005282;"
         class="navbar-menu-wrapper d-flex align-items-center justify-content-end justify-content-lg-start">

        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">

            <a style="padding-left:50%;color:#ffffff;" class="navbar-brand brand-logo" href="/">Dashboard</a>
        </div>
 <ul class="navbar-nav navbar-nav-right" style="padding-right:2%">
            <li class="nav-item nav-profile">
                <a class="nav-linK" href="/" >
                    <img src="../../static/adminResources/images/avatar.png"
                         alt="profile"/>
                </a>
            </li>
        </ul>
    </div>
</nav>
